<button
  class="sidebar-toggle"
  (click)="sidebarOpen = !sidebarOpen"
  *ngIf="isMobile"
>
  &#9776;
</button>

<app-city-sidebar
  [selectedCity]="selectedCity"
  [@sidebarSlide]="!isMobile ? 'open' : sidebarOpen ? 'open' : 'closed'"
  (citySelected)="onCitySelected($event)"
  (displayedCitiesChanged)="onDisplayedCitiesChanged($event)"
>
</app-city-sidebar>

<div class="main-content">
  <div class="app-header">
    <h2 class="app-title">GeoGlide</h2>
    @if (selectedCity) {
    <div class="selected-city-info">
      <span class="selected-city">{{ selectedCity.name }}</span>
      <span class="selected-timezone">{{
        getCityCountry(selectedCity.timezone)
      }}</span>
    </div>
    }
  </div>

  <app-globe
    [lat]="selectedCity?.lat || 0"
    [lon]="selectedCity?.lng || 0"
    [selectedCityId]="selectedCity?.name || null"
    [displayedCities]="displayedCities"
    (citySelected)="onGlobeCitySelected($event)"
  ></app-globe>

  <!-- @if (selectedCity) {
  <app-time-display [timezone]="selectedCity.timezone"></app-time-display>
  } -->
</div>

<router-outlet />
